<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ru.ancientempires"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="23" />

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name=".activity.MainActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.PlayMenuActivity"
			android:label="@string/title_activity_play_menu"
			android:parentActivityName=".activity.MainActivity" >
		</activity>
		<activity
			android:name=".activity.LevelMenuActivity"
			android:label="@string/title_activity_level_menu"
			android:parentActivityName=".activity.PlayMenuActivity" >
		</activity>
		<activity
			android:name=".activity.GameActivity"
			android:label="@string/title_activity_game"
			android:parentActivityName=".activity.LevelMenuActivity" >
		</activity>
		<activity
			android:name=".activity.PlayersChooseActivity"
			android:parentActivityName=".activity.MainActivity"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name=".activity.SettingsActivity"
			android:label="@string/title_activity_settings" >
		</activity>
	</application>

</manifest>